# Database
DATABASE_URL=postgresql://second_thought:second_thought@localhost:5432/second_thought
# postgres.default.svc.cluster.local
# Security
SECRET_KEY=your-super-secret-key-change-in-production

# Server
PORT=8000
