RELOAD=true
PORT=8000
DATABASE_URL=postgresql://postgres:password@localhost:5432/scron
# meaning of each value in the DATABASE_URL:
# postgresql:// - the database type and protocol
# postgres - the username to connect to the database
# password - the password for the database user
# localhost - the host where the database is running (use 'db' if using Docker)
# 5432 - the port on which the database is listening
# scron - the name of the database to connect to

DB_SCHEMA=public
SECRET_KEY=your-super-secret-jwt-key-change-in-production